<div class="app-panel">
    <!--h2>Movimenti</h2-->

    <mat-form-field class="txsAccountSelectionFormField">
        <mat-label>Conto</mat-label>
        <mat-select (selectionChange)="onSelectCurrentAccount($event)" [(ngModel)]="selectedAccountName" #accountsSelect>
            <mat-option *ngFor="let account of accounts" [value]="account.name">
                <span>
                    {{account.name}} 
                </span>
                <span class="numeric-data-format">
                    ({{account.amount | number : '1.2'}} &euro;)
                </span>
            </mat-option>
        </mat-select>
        <mat-error>Scegliere un Conto</mat-error>
        <!--mat-hint>Change selected account</mat-hint-->
    </mat-form-field>

    <!--h4>Ultimi Movimenti</h4-->

    <table *ngIf="transactions != null && transactions.length > 0" mat-table [dataSource]="transactions" matSort class="mat-elevation-z8 full-width-widget" #txListTbl>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="accountDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="date-data-format">DATA CONTABILE</th> 
            <td mat-cell *matCellDef="let element" class="date-data-format"> {{element.accountDate | date:"dd/MM/yyyy"}} </td>
        </ng-container>
        <ng-container matColumnDef="eventDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="date-data-format">DATA OPERAZIONE</th>
            <td mat-cell *matCellDef="let element" class="date-data-format"> {{element.eventDate | date:"dd/MM/yyyy"}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>DESCRIZIONE</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="numeric-data-format">IMPORTO</th>
            <td mat-cell *matCellDef="let element" class="numeric-data-format"> {{element.amount | number:"1.2"}} € </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    </table>

    <p *ngIf="transactions == null || transactions.length == 0">Non sono presenti movimenti</p>
    
    <div  [hidden]="transactions == null || transactions.length == 0">
        <button mat-mini-fab color="basic" (click)="createNewTransaction()" class="create-new-tx-button">+</button>
    </div>
</div>
<div [hidden]="!showLoader" class="loader-overlay-container">
    <div class="loader-placeholder-container">
        <mat-spinner></mat-spinner>
    </div>
</div>